@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

img {
    width: 100px;
}

.container {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    width: 30%;
    float: left;
    border: 1px solid #aaa;
    height: 450px;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}